---
layout: layouts/default
---
<style>
  .navbar-logo {
    width: 30px;
    height: 30px;
  }

  video {
    height: auto;
    border: 3px solid #434f5f;
    border-radius: 0 20px 0 20px;
    margin-bottom: 15px;
    background-color: #434f5f;
  }

  .content {
    margin-top: 60px;
    margin-bottom: 60px;
  }

</style>

<div class="content">
  <h1>The Borough Box</h1>

  <h2>Theme Coding</h2>
  <h3>A fully customised storefront theme.</h3>
  <div class="featuredesc">
    <video class="featurevid" src="/assets/boroughboxscroll.mp4" autoplay muted loop width="600" poster="/assets/boroughscrollcover.png">
    </video>
    <p class="featuretext">The Borough Box tried Pagefly and Shogun but couldn't get the look they wanted. We implemented a fully customised theme to their specifications.</p>
  </div>

  <h2>Responsive Mobile Design</h2>
  <h3>iPhones aren't second class citizens.</h3>
  <div class="featuredesc">
    <p class="featuretext">Over 50% of website traffic is on mobiles so we made sure that The Borough Box looks as great on a phone as it does on a laptop. With custom slideshow widgets and menus navigating the site is easy and intuative on every platform.</p>
    <video class="featurevid longvid" src="/assets/boroughboxmobile.mp4" autoplay muted loop width="500" height="400" poster="/assets/boroughmobilecover.png"></video>
  </div>

  <p>See the results at <a href="https://theboroughbox.com.au/">The Borough Box</a></p>

  <h3>Need help with your storefront? <a href="/#contact">contact</a> us for a
    consultation</h3>
</div>
