---
layout: layouts/default
---
<script>
  let ticking = false;
  // FOR MAIN MENU
  window.addEventListener('scroll', function (e) {
    if (!ticking) {
      const logo = document.querySelector(".navbar-logo");
      const scrollDown = document.querySelector(".scroll-down");
      const hero = document.querySelector(".hero");
      const sections = document.querySelector(".sections");
      const atHero = sections.style.opacity == 0;
      if (window.scrollY > 0 && atHero) {
        logo.style.width = "40px";
        logo.style.height = "40px";
        scrollDown.style.opacity = 0;
        hero.style.opacity = 0;
        sections.style.opacity = 1;
        ticking = true;
      } else if (window.scrollY <= 0 && !atHero) {
        ticking = true;
        logo.style.width = "";
        logo.style.height = "";
        scrollDown.style.opacity = 1;
        hero.style.opacity = 1;
        sections.style.opacity = 0;
        ticking = true;
      }

      if (ticking) {
        sections.addEventListener("transitionend", () => {
          ticking = false;
        }, { once: true });
      }
    }
  });

  // FOR SCROLL EFFECTS
  window.addEventListener('scroll', function (e) {
    const sections = document.querySelector(".sections");
    const shouldReset = sections.style.opacity != 1;
    document.querySelectorAll(".service").forEach((service) => {
      const rect = service.getBoundingClientRect();
      const shouldNotHover = shouldReset || (rect.top + rect.height / 5 > window.innerHeight * .5);
      service.querySelectorAll(".hovers").forEach((h) => {
        if (shouldNotHover) h.classList.remove("hover");
        else h.classList.add("hover");
      });
    });
  });
</script>

<div id="hero" class="hero">
  <h1>Make the web work for you.</h1>
  <p>Web technology and app development specialists</p>
</div>

<div class="scroll-down">
  <a href="#about">
    {{ 'assets/arrowdown.svg' | encodeSVG }}
  </a>
</div>

<div class="sections">
  <div id="services" class="anchor"></div>
  <h2>Services</h2>
  <section class="services">
    <div class="service">
      <div class="service-image">
        {{ 'assets/websearch.svg' | encodeSVG }}
      </div>
      <div class="service-description">
        <h3>Website Development</h3>
        <p>Whether you need a new site or tweaks to an existing site our in
          depth knowledge of HTML, CSS and Javascript will get the job done.
        </p>
      </div>
    </div>
    <div class="service">
      <div class="service-image si1">
        {{ 'assets/shopping.svg' | encodeSVG }}
      </div>
      <div class="service-description">
        <h3>eCommerce Solutions</h3>
        <p>Have an awesome product but don't know how to bring it online? Or
          want to customize an existing storefront more than a template will
          allow?
          We can help set up an online store front that is easy to manage and
          make sure it stands out.
        </p>
      </div>
    </div>
    <div class="service">
      <div class="service-description">
        <h3>App Development</h3>
        <p>Need something more complicated to solve a business need? We
          offer full frontend and backend development services.</p>
      </div>
      <div class="service-image">
        {{ 'assets/app.svg' | encodeSVG }}
      </div>
    </div>
    <div class="service">
      <div class="service-description">
        <h3>Database Management</h3>
        <p>Whether you need your data exported, imported, backed up or
          rearranged we have experience with all major database software
          including MySQL, PostGres, SqlLite and MongoDB. </p>
      </div>
      <div class="service-image">
        {{ 'assets/database.svg' | encodeSVG }}
      </div>
    </div>
  </section>

  <div id="about" class="anchor"></div>
  <section>
    <h2>About</h2>
    <p>Exeter Web Services is a Southern Highlands based consultant specalising
      in websites and online tech.
      With a passion for technology and over a decade of industry experience you
      can be sure we will get the job done right the first time. </p>
    <p>As a new agency we are offering free first consultations for Southern
      Highlands businessess. Whether you have a site that needs a few tweaks or
      the idea for a new app
      you can get in <a href="#contact">contact</a> to set up a meeting.</p>
  </section>

  <div id="portfolio" class="anchor"></div>
  <section>
    <h2>Portfolio</h2>
    <div class="portfolios">
      <div class="portfolio">
        <a class="portfolio-snippet" href="/boroughbox/">
          <div class="portfolio-text">
            <h3>The Borough Box</h3>
            <p>Shopify Storefront Development.</p>
            <br />
            <h5>Click to learn more</h5>
          </div>
          <div class="portfolio-image">
            <img src="assets/boroughboxpreview.png" alt="The Borough Box">
          </div>
        </a>
      </div>
      <div class="portfolio">
        <a class="portfolio-snippet" href="/elph/">
          <div class="portfolio-text">
            <h3>elph ceramics</h3>
            <p>Shopify Plugin and Storefront Development.</p>
            <br />
            <h5>Click to learn more</h5>
          </div>
          <div class="portfolio-image">
            <img src="assets/elphpreview.png" alt="elph Ceramics">
          </div>
        </a>
      </div>
    </div>
  </section>

  <div id="contact" class="anchor"></div>
  <section class="contact">
    <h2>Contact</h2>
    <p> To arrange a consultation please call or email: </p>
    <p>Phone: <a href="tel:0452530192">0452530192</a> </p>
    <p>Email: <a
         href="mailto:hello@exeterwebservices.com.au">hello@exeterwebservices.com.au</a>
    </p>
  </section>
</div>
